body{
  /* display: flex;
  align-items: center;
  justify-content: center; */
   /* backdrop-filter: blur(10px);   */
   /* background-color:rgb(101, 123, 61); */
   /* background: radial-gradient(rgb(150, 172, 109),rgb(101, 123, 61)); */
   z-index: 2000;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   /* animation: bg-change 4s infinite linear alternate; */
}

.heading{
  margin-top: 0vh;
  color:tomato;
  font-size: 2.5em;
  text-align: center;
}
.container{
  position: relative;
  display: flex;
  background:#00000027;
  margin:3vh auto 0 auto;
  border:2px solid aliceblue;
  border-radius: 20px;
  width: 70%;
  z-index: 1;
  
}
/* .background{
     position: absolute;
     top: 20%;
     left: 15%;
     z-index: -999;
     border-radius: 140px 210px 310px  501px;
     height:0px;
     width:0px;
     background-color: rgba(193, 225, 238, 0.267);
     animation: bg-change 11s infinite linear;

    } */
.son{
  position: absolute;
  top: 20%;
  z-index: -1;
  left: 40%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ff8f00;
  animation: loading 3s ease-in-out;
}
.curr-wea{
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 20px;
}
.input{
 display: flex;
 justify-content: center;
 }
.city-name{
  height: 40px;
  margin-top: 20px;
  border-radius: 12px;
  border: 2px solid rgb(69, 129, 153);
  background:white ;
  color: rgb(69, 129, 153);
  padding-left:20px;
  padding-right: auto;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.submit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin:22px 0 0 5px;
  border-radius: 12px;
  border: 2px solid rgb(69, 129, 153);
  background:white;
  color: #d38080;
  padding: 20px ;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
 
}
.submit-btn img{
  height: 50px;
  width: 50px;
}
.switch{
  position: relative;
  margin: 16px 0 0 4px;
  height: 60px;
  width: 60px;
  /* background-color: #ff8f00; */
}
.switch img{
  height: 60px;
  width: 60px;
}
.left{
  position: absolute;
  top: 18px;
  left: 10px;
  font-weight:bolder;
  color: rgb(69, 129, 153);
  font-size: large;
}
.right{
  position: absolute;
  top: 18px;
  left: 35px;
  font-weight:bolder;
  color: rgb(69, 129, 153);
  font-size: large;


}
.forecast{
  width: 70%;
  backdrop-filter: drop-shadow(2px);
   border-radius: 20px;
   margin-bottom: 14px;
}


.hero{
  display: block;
  width: 300px;
  margin: 30px auto 0 auto;
  color: aliceblue;
  text-align: center;
  font-size:  1.5em;
}
.hero img{
 height:90px;
  width: 90px;
  margin-bottom: -60px;
  
}
.hero h4{
  font-size: medium;
  margin-top: 30px;
  text-transform: uppercase;
}
.heroname{
  text-transform: uppercase;
  color: #ff8f00;
}
.logo{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
 position: relative;
  height: 5vh;
  
}
.logo img{
  position:absolute ;
  z-index: 1;
  animation: popup 4s ,floating 4s infinite;
}
.char{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin:40px 10px -30px 10px;
  width: 650px;
  height: 40vh;
}
.char div{
  /* border-left: 4px solid white; */
  width: 40%;
  color: aliceblue;
  
  margin: 2px;

border-radius: 20px;
}
.char div h3{
  margin-left: 16px;
}
.char span{
  color: #ff8f00;
}
.block{
  display: flex;
  justify-content: space-around;
  height: 110px;
  width: 28vw;
  color: aliceblue;
  text-align: center;
  
  background: linear-gradient(90deg,rgba(135, 207, 235, 0.226),rgba(194, 181, 181, 0.911));
  box-shadow: 0px 20px 16px black;
  border-radius: 20px;
}
.display{
  height: fit-content;
}
.display img,h4,h2{
  margin-bottom:-30px ;
}
.display h2{
  color: #ff8f00;
}
.day{
  color:#ffffff;
  margin-bottom: -19px;
}
.date{
  color:#fffdfb;
  
}

@keyframes floating {
    0%{
      top:1vh;
    }
    
    50%{
      top:0vh;
    }
   
    100%{
      top: 1vh;
    }
}
@keyframes popup {
  0%{
    top:5vh;
  }
  
  100%{
    top:0vh;
  }
 
}
@keyframes loading{
  from{
    top: 30%;
    left: 200px; 
   }
  to{
    top: 20%;
    left: 40%;
    }
}

@keyframes rot{
 0%{
  background:linear-gradient(180deg,rgb(243, 239, 239),skyblue);

 }
 25%{
  background:linear-gradient(135deg,rgb(243, 239, 239),skyblue);

 }
 50%{
  background:linear-gradient(90deg,rgb(243, 239, 239),skyblue);

 }
 75%{
  background:linear-gradient(45deg,rgb(243, 239, 239),skyblue);

 }
  100%{
    background:linear-gradient(10deg,rgb(243, 239, 239),skyblue);

  }
}

.boxes{
  height: 100vh;
}
.box{
  height: 300px;
  width: 300px;
  z-index: 9999;
  border: 2px solid black;
}
@keyframes bg-change{
  0%{
    height: 50%;
    width: 73%;
    top: 30px;
    left: 150px;
    border-radius: 130px 200px  410px 50px;

  }
  25%{
    height: 450px;
    width: 600px;
    top: 40px;
    left: 180px;
    border-radius: 130px 20px 40px 150px;

  }
  50%{
    height: 300px;
    width: 400px;
    top: 70px;
    left: 50px;
    border-radius: 210px 410px 130px  510px;

  }
  75%{
    height: 500px;
    width: 600px;
    top: 110px;
    left: 80px;
    border-radius: 201px 301px 150px 410px ;

  }
  100%{
    height: 50%;
    width: 73%;
    top: 30px;
    left: 150px;
    border-radius: 130px 200px  410px 50px;

  }
}



@media screen and (max-width:430px) {
  body{
    width: 100vw;
    display: block;
    margin: 0 auto;
    /* background:url(/src/images/e3d71a6573e3cba3516006e01f77d955.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
 }
 .heading{
  display: none;
  overflow-x: hidden;

 }
 .container{
  display: block;
  background:transparent;
  height: 100vh;
  overflow:hidden;
  border-radius: 0;
  border: none;
  width: 100vw;
  margin: 0 auto;
  margin-top: 20px;
 }
 .curr-wea{
  display: block;
  height: 100vh;
  width: 100%;
  /* margin: 0 auto; */
  overflow: hidden;
  margin-bottom: -30vh;
 }
 .input{
  /* margin-left: -30px; */
 }
 .char{
  display: block;
  overflow-x: hidden;

 }
 .scroll{
  /* position: relative; */
  width: 100vw;
  height: 83px;
  margin-top: 40px;
  overflow-x: scroll;
  /* background-color: #ff8f00; */
 }
 .forecast{
  width:140vw;
  /* position: absolute; */
  display: flex;
  left: 0px;
  top: 0px;
  justify-content:space-around;
  /* background-color: #d38080; */
  /* overflow-x: scroll; */
  /* justify-content: center; */
  /* justify-self: center; */
  align-items: center;
  /* margin-left: -140px; */
  /* margin-top: 10px; */
  border-radius: 0;
  /* padding-left: 50px; */

 }
 .display h4{
  display: none;

 }
 .display h2{
  font-size: 20px;
  /* margin-bottom:0.3px; */
 }
 .date{
  display: none;
 }
 .day{
  font-size:larger;
  margin-top: 4px;
  margin-bottom: -10px;
  /* padding-bottom:8px ; */
  /* background-color: #fffdfb; */
 }
 .block{
  display: block;
  flex-direction: column;
  width: 100px;
  /* justify-items:start; */
  align-items: center;
  /* margin-left: 130px; */
  box-shadow: none;
  height: 83px;
  border-radius: 13px;
 }
 
}